<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" name="viewport" >
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <link rel="stylesheet" href="/index/static/cssStartPage.css" type="text/css" />
    <script type="text/javascript" src="/index/static/angularModule.js"></script>
    <script type="text/javascript" src="/index/static/fileExtensionFilter.js"></script>

</head>

<body ng-app="mainModule">
<div ng-controller="mainController">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Пароль</label>
            <div class="col-xs-2">
                <input id="password" type="text" class="form-control" name="password" ng-model="modelPassword" required /><br />
            </div>
        </div>
        <div class="form-group">
            <label for="file" class="col-sm-2 control-label">Файл</label>
            <div class="col-xs-2">
                <input type="file" id="file" name="file" onchange="angular.element(this).scope().getFile(this)" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="btn" class="col-sm-2 control-label"></label>
            <div class="col-xs-2">
                <button type="submit" id="btn" class="btn btn-primary btn-md" ng-click="submitData()">Submit</button>
            </div>
        </div>
        <div class="form-group">
            <label for="btnGetList" class="col-sm-2 control-label"></label>
            <div class="col-xs-2">
                <button type="button" id="btnGetList" class="btn btn-primary btn-md" ng-click="getListFiles()">Get</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <br />
            <strong><label for="submitDebugText1">Submit result:</label></strong><br />
            <ul id="submitDebugText1" ng-repeat="val in submitResult">
                <li>
                    <img src="{{val | fileExtensionFilter }}" style="height: 50px;"><a href="/index/getFile/{{val}}" download>{{val}}</a>
                </li>
            </ul>
            <br />
        </div>
    </div>
    <br />

</div>
</body>

</html>